.day-container {
    padding: 16px;
}

.info-container {
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-title {
    width: 100%;
    font-weight: bold;
    text-align: left;
    opacity: 0.6;
}

.wind-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wind-text {
    margin-right: 8px;
}

.weather-icon{
    height: 50px;
    width: 50px;
}